@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  background-color: var(--main-color);
  font-family: "Mochiy Pop P One", sans-serif;
}

#topspace {
  min-height: 25vh;
}

#title {
  color: white;
  padding-top: 10vh;
}

#quote-box {
  min-height: 50vh;
  background-color: white;
  border-radius: 10px;
}
#text {
  color: var(--main-color);
  min-height: 30vh;
  padding-top: 40px;
}
#author {
  color: var(--main-color);
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

#toolbar {
  padding: 20px;
}

#twitter-icon {
  padding-left: 30px;
  font-size: 3em;
  color: var(--main-color);
}

#new-quote {
  color: var(--main-color);
  border-color: var(--main-color);
}
